
/* shape */



/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Input */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 20px;

width: 519px;
height: 25px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Location */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 376px;
height: 25px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* lucide/map-pin */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 8.33%;
bottom: 8.33%;

border: 1.25px solid #A1A1AA;


/* Para onde você vai? */

width: 165px;
height: 25px;

/* Body Lg */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 140%;
/* or 25px */
letter-spacing: -0.02em;

color: #A1A1AA;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 102px;
height: 25px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* lucide/calendar */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;

border: 1.25px solid #A1A1AA;


/* Quando? */

width: 74px;
height: 25px;

/* Body Lg */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 140%;
/* or 25px */
letter-spacing: -0.02em;

color: #A1A1AA;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* divider */

width: 1px;
height: 24px;

background: #27272A;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 20px;
gap: 8px;

width: 141px;
height: 36px;

background: #BEF264;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* lucide/arrow-right */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label */

width: 73px;
height: 19px;

/* Button */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

color: #1A2E05;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* lucide/arrow-right */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

border: 1.25px solid #1A2E05;
