.question{
    width: 100%;
    background: var(--background-secondary);
    scroll-margin-top: 100px;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.headerQuestion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerQuestion h2{
    text-transform: uppercase;
    margin: 3rem 0 2rem;
    font-size: 3rem;
}

.headerQuestion div{
    border-bottom: 4px solid var(--alternative-text);
    width:100px;
    margin-bottom: 3rem;
}

.wrapper{
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 4rem;
}